#menu{
    margin: auto;
    width: 50%;
    height: 500px;
    background-image: url(menuBG.png);
    border-radius: 10%;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 60px;
    font-size: 70px;
}

#modes{
    height : 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#board{
    margin: auto;
    text-align: center;
    background-color: rgb(4, 4, 84);
    border-radius: 10%;
    width: 22%;
    min-height: 450px;
    color: white;
    padding-bottom: 15px;
}

h1{
    font-size: 3em;
    margin: 0px;
    padding: 12px;
}

h2{
    font-size: 1.8em;
    margin: 8px;
}   

button{
    font-weight: bold;
    background-color: rgb(61, 3, 61);
    border-radius: 8px;
    border: 3px solid white;
    cursor: pointer;
    color: white;
    transition-property: background-color;
    transition-duration: 1s;
}

.game-square{
    font-size: 70px;
    width: 80px;
    height: 80px;
}

.game-mode{
    flex-basis:200px;
    height: 20%;
}

button:disabled{
    pointer-events: none;
    cursor: default
}

button:hover{
    transform: scale(1.1);
}

table{
    margin: auto;
    border-spacing: 8px;
    border-radius: 10px;
}

#restart-button{
    font-size: 20px;
    padding: 10px;
    margin-left:10px;
    position: relative;
    bottom: 10px;
}

#restart-button:disabled{
    background-color: grey;
}

.back{
    width: 80px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: transparent;
}

button img{
    border-radius: 8px;
}

img{
    width: 100%;
    height: 100%;
}

.transition{
    animation-name: scale;
    animation-duration: 1.3s;
    animation-iteration-count: 3;
}

@keyframes scale {
    50%{
        transform: scale(0.93)
    }

    100%{
        transform:scale(1)
    }
}
